# Ignore virtual environment folder
venv/
.venv/
env/

# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyc

# Ignore installed packages
*.egg-info/
dist/
build/

# Ignore IDE-specific files
.vscode/
.idea/

# Ignore data and logs
data/
logs/